.action-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  @layout-body-background: #E9F1FF;
  @layout-header-background: #fff;
  @layout-sider-background: @primary-color;
  @layout-trigger-background: @primary-color;
  @layout-sider-background-light: @primary-color;
  @layout-trigger-background-light: @primary-color;

  @layout-trigger-color: #fff;

  @layout-trigger-color-light: white;
  height: @layout-header-height;
  font-size: 1.5rem;
  color: white;

  padding: 0 1rem;



  &__open {
    justify-content: flex-end;
  }

  &__collapse-trigger {
    position: absolute;
    left: .75rem;
    top: 1rem;
    font-size: 1.5rem;
    color: @primary-color;

  }

 @media screen and (min-width:768px) {
    &__collapse-trigger {
      display: none;
    }
  }
}


.ant-layout-sider{
  position: absolute !important;
  z-index: 10;
  height: 100vh;
}

.Sidebar {
  position: absolute !important;
  z-index: 10;
}

@layout-header-height: 50px;