@import '~antd/dist/antd.less';

@import './components/sidebar.less';
@import './components/content.less';

body #root .ant-layout{
 height: 100vh;
 font-size: 1rem;
}

*{
  margin: 0;
  padding: 0;
}